<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>

    <%- include('../common/stylesheets'); %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../common/navigation'); %>

        <!-- page content -->

        <div class="right_col" role="main">

          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:70%">
                <h3>
                  <i class="fa fa-newspaper-o classified-icon"></i>Classified Ads
                </h3>
              </div>
              <div class="title_right text-right" style="width:30%">
                <button id="my-ads-btn" class="btn btn-primary btn-search" style="margin-top:5px;">My Ads</button>

                <button id="post-new-ad-btn" class="btn btn-success btn-search" style="margin-top:5px;">Post New Ad</button>
              </div>
            </div>
            <!-- page title -->

            <div class="clearfix"></div>

            <div class="">
              <div class="clearfix"></div>

              <div class="x_panel" style="padding:12px 5px 7px">
                <form class="form-inline search-visitor-field">
                  <h4 class="label-filter">
                    <i class="fa fa-filter"></i>Filter</h4>
                  <div class="form-group">
                    <select class="form-control" name="category">
                      <option selected disabled>Category</option>
                      <% categoryList.forEach(function (cat) { %>
                      <option value="<%= cat %>" <%= (query.category == cat) ? 'selected' : ''; %>><%= cat %></option>
                      <% }); %>
                    </select>
                  </div>
                  <div class="form-group">
                    <select class="form-control" name="isoffering">
                      <option selected disabled>Buy/Sell</option>
                      <option value="0" <%= (query.isoffering == "0") ? 'selected' : ''; %>>Buy</option>
                      <option value="1" <%= (query.isoffering == "1") ? 'selected' : ''; %>>Sell</option>
                    </select>
                  </div>

                  <h4 class="label-filter">Price</h4>
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="inputSuccess850" placeholder="Minimum" name="minprice" value="<%= query.minprice %>">
                  </div>
                  <div class="form-group has-feedback">
                    <input type="text" class="form-control" id="inputSuccess851" placeholder="Maximum" name="maxprice" value="<%= query.maxprice %>">
                  </div>
                  <button class="btn btn-success btn-search" style="margin-top:5px;">
                    <i class="fa fa-search" style="font-size:20px"></i>
                  </button>
                  <button class="btn btn-info btn-xs btn-search" style="margin-top:5px;" onclick="clearFilters(event);">
                    Clear Filters
                  </button>

                </form>
              </div>
              <!--- x_panel--->
              <% if(data.length == 0) { %>
                <div class="x_panel" style="padding:23px 25px;">
                  <div class="row">
                    <div class="col-xs-12">
                      <h1 style='text-align: center;'>No Ads Found!</h3>
                    </div>
                  </div>
                </div>
              <% } %>

              <% data.forEach(function (ad) { %>
              <div class="x_panel" style="padding:23px 25px;">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="card card-block">
                      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="product-image classified-image">
                          <img src="<%= ad.awsPictures[0] %>" alt="..." onError="this.src = '/images/prod-1.jpg'"/>
                        </div>
                        <div class="product_gallery classified_gallery">
                          <a>
                            <img src="<%= ad.awsPictures[1] %>" alt="..." onError="this.src = '/images/prod-2.jpg'"/>
                          </a>
                          <a>
                            <img src="<%= ad.awsPictures[2] %>" alt="..." onError="this.src = '/images/prod-3.jpg'"/>
                          </a>
                        </div>
                      </div>
                      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 classified-details">
                        <h3>
                          <%= ad.title %>
                          <span class="label label-info pull-right" style="color: white; font-size: 12px; padding: 5px;">
                            <% if (ad.isOffering) { %>
                              SELLING
                            <% } else { %>
                              BUYING
                            <% } %>
                          </span>
                        </h3>
                        <div class="row">
                          <div class="col-xs-6">
                            <h4>Category:
                              <span><%= ad.category %></span>
                            </h4>
                          </div>
                          <div class="col-xs-6">
                            <h4 style="text-align:right; margin-top:12px;">Price:
                              <span>₹ <%= ad.price %></span>
                            </h4>
                          </div>
                        </div>
                        <h4>
                          <span class="classified-description"><%= ad.description %></span>
                        </h4>
                        <h4 style="float:right;">Posted By:
                          <span><%= ad.addedBy.name %></span>
                        </h4>
                        <br/>
                        <h4 style="float:right;clear: both;">Approval Status:
                          <span><%= ad.approvalStatus.toUpperCase() %></span>
                        </h4>
                      </div>
                      <br/>
                      <% if (ad.approvalStatus == "Pending") { %>
                      <button id="approve-ad-btn" class="btn btn-success btn-search" style="min-width: 100px; margin-top:10px;float:right;" onclick="approveAd(event, '<%= ad.id %>')">Approve Ad</button>
                      &nbsp;&nbsp;&nbsp;
                      <button id="reject-ad-btn" class="btn btn-danger btn-search" style="min-width: 100px; margin-top:10px;float:right" onclick="rejectAd(event, '<%= ad.id %>')">Reject Ad</button>
                      <% } else if (ad.approvalStatus == "Approved"){ %>
                        <!-- <h2 class="label label-success" style="min-width: 100px; margin-top:10px;float:right; padding: 5px; font-size: 14px;">Ad Approved!</h2> -->
                        <button id="reject-ad-btn" class="btn btn-danger btn-search btn-sm" style="min-width: 100px; margin-top:10px;float:right" onclick="rejectAd(event, '<%= ad.id %>')">Change Status to REJECTED</button>
                      <% } else { %>
                        <!-- <h2 class="label label-danger" style="min-width: 100px; margin-top:10px;float:right; padding: 5px; font-size: 14px;">Ad Rejected!</h2> -->
                        <button id="approve-ad-btn" class="btn btn-success btn-search btn-sm" style="min-width: 100px; margin-top:10px;float:right;" onclick="approveAd(event, '<%= ad.id %>')">Change Status to APPROVED</button>
                      <% } %>
                    </div>
                  </div>
                </div>

                <% if (ad.approvalStatus === 'Approved') { %>
                <div class="row" style="margin: 20px 0 0;">
                  <div class="col-xs-12  text-center">
                    <form class="form-inline">
                      <div class="form-group">
                        <label for="new-stop-date">Stop Showing this Ad on: </label>
                        <input type="text" class="form-control datetimepicker" id="new-stop-date-<%=  ad._id %>" placeholder="Select Date" value="<%= moment(ad.stopDate).format('DD/MM/YYYY HH:mm') %>">
                      </div>
                      <button type="button" class="btn btn-default change-stop-date-btn" style="margin-top: 5px; margin-left: 10px; background: #e6e6e6;" data-ad-id="<%=  ad._id %>">Change</button>
                    </form>
                  </div>
                </div>
                <% } %>

              </div>
              <!-- x_panel  -->
              <% }); %>

            </div>

            <!-- /page content -->

            <!-- footer content -->
            <!--
                        <footer>
                            <div class="pull-right">
                                Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                        -->
            <!-- /footer content -->
            <!-- right_col -->

            <!-- <div id="custom_notifications" class="custom-notifications dsp_none">
                    <ul class="list-unstyled notifications clearfix" data-tabbed-notifications="notif-group"></ul>
                    <div class="clearfix"></div>
                    <div id="notif-group" class="tabbed_notifications"></div>
                </div> -->
          </div>
          <!-- main container -->
        </div>
        <!-- container body -->

        <%- include('../common/javascripts'); %>

        <script type="text/javascript">
        $(".datetimepicker").datetimepicker({format: 'DD/MM/YYYY HH:mm'});

        var clearFilters = function (e) {
          e.preventDefault();
          var url = window.location.href.split('?')[0];
          window.location.assign(url);
        }

        var adApproval = function (adId, approve) {
          $.ajax({
            url: "/admin/classified/"+adId,
            method: "PUT",
            data: {
              approvalStatus: (approve) ? "Approved" : "Rejected"
            },
            success: function (result) {
              if (result.error) {
                alert('oops')
                console.log(result.error);
              } else {
                // alert('yaay')
                window.location.reload();
              }
            }
          });
        }

        var approveAd = function (e, adId) {
          e.preventDefault();
          // alert('approving '+adId)
          adApproval(adId, true);
        };
        var rejectAd = function (e, adId) {
          e.preventDefault();
          // alert('rejecting '+adId)
          adApproval(adId, false);
        };

        // Change Ad stop date
        $(".change-stop-date-btn").click(function (e) {
          e.preventDefault();
          var self = this;
          var adId = $(self).data('ad-id');
          $(self).prop('diabled', true);
          $.ajax({
            url: "/admin/classified/changestopdate/"+adId,
            method: "PUT",
            data: {
              stopDate: $('#new-stop-date-'+adId).val()
            },
            success: function (result) {
              $(self).prop('diabled', true);
              if (result.error) {
                // alert('oops')
                console.log(result);
              } else {
                // alert('yaay')
                window.location.reload();
              }
            }
          });
        })



          $(document).ready(function() {
            var maxLength = 230;
            $(".show-read-more").each(function() {
              var myStr = $(this).text();
              if ($.trim(myStr).length > maxLength) {
                var newStr = myStr.substring(0, maxLength);
                var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
                $(this).empty().html(newStr);
                $(this).append(' <a href="javascript:void(0);" class="read-more">Read More</a>');
                $(this).append('<span class="more-text">' + removedStr + '</span>');
              }
            });
            $(".read-more").click(function() {
              $(this).siblings(".more-text").contents().unwrap();
              $(this).remove();
            });
          });
        </script>

        <!-- PNotify
            <script>
      $(document).ready(function() {
        new PNotify({
          title: "PNotify",
          type: "info",
          text: "Welcome. Try hovering over me. You can click things behind me, because I'm non-blocking.",
          nonblock: {
              nonblock: true
          },
          addclass: 'dark',
          styling: 'bootstrap3',
          hide: false,
          before_close: function(PNotify) {
            PNotify.update({
              title: PNotify.options.title + " - Enjoy your Stay",
              before_close: null
            });

            PNotify.queueRemove();

            return false;
          }
        });

      });
            </script>
           <!-- PNotify -->

        <!-- Custom Notification -->
        <script>
          $(document).ready(function() {
            var cnt = 10;

            TabbedNotification = function(options) {
              var message = "<div id='ntf" + cnt + "' class='text alert-" + options.type + "' style='display:none'><h2><i class='fa fa-bell'></i> " + options.title + "</h2><div class='close'><a href='javascript:;' class='notification_close'><i class='fa fa-close'></i></a></div><p>" + options.text + "</p></div>";

              if (!document.getElementById('custom_notifications')) {
                alert('doesnt exists');
              } else {
                $('#custom_notifications ul.notifications').append("<li><a id='ntlink" + cnt + "' class='alert-" + options.type + "' href='#ntf" + cnt + "'><i class='fa fa-bell animated shake'></i></a></li>");
                $('#custom_notifications #notif-group').append(message);
                cnt++;
                CustomTabs(options);
              }
            };

            CustomTabs = function(options) {
              $('.tabbed_notifications > div').hide();
              $('.tabbed_notifications > div:first-of-type').show();
              $('#custom_notifications').removeClass('dsp_none');
              $('.notifications a').click(function(e) {
                e.preventDefault();
                var $this = $(this),
                  tabbed_notifications = '#' + $this.parents('.notifications').data('tabbed_notifications'),
                  others = $this.closest('li').siblings().children('a'),
                  target = $this.attr('href');
                others.removeClass('active');
                $this.addClass('active');
                $(tabbed_notifications).children('div').hide();
                $(target).show();
              });
            };

            CustomTabs();

            var tabid = idname = '';

            $(document).on('click', '.notification_close', function(e) {
              idname = $(this).parent().parent().attr("id");
              tabid = idname.substr(-2);
              $('#ntf' + tabid).remove();
              $('#ntlink' + tabid).parent().remove();
              $('.notifications a').first().addClass('active');
              $('#notif-group div').first().css('display', 'block');
            });
          });
          ///////////////////////////////////////////////
          // 09/01/2017
          $("#post-new-ad-btn").click(function (e) {
            e.preventDefault();
            window.location.href = "/admin/classified/add";
          })
          $("#my-ads-btn").click(function (e) {
            e.preventDefault();
            window.location.href = "/admin/classified/myads";
          })
        </script>
        <!-- /Custom Notification -->
      </body>
    </html>
