<p>Hello <%= name %>,</p>
<p>Your login password has been reset by the Admin. The new credentials are given below.</p>
<p>
You can login into our site (http://app.smartechsociety.com) using the following credentials: <br/>
<strong>Username:</strong> <%= email %> <br/>
<strong>Password:</strong> <%= password %>
</p>
