<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Superadmin</title>

    <%- include('../common/stylesheets'); %>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <%- include('../common/super-navigation'); %>

        <!-- page content -->
        <% if (error) { %>
        <div class="right_col" role="main">
          <%= message %>
        </div>
        <% } else {  %>
        <div class="right_col" role="main">
                      <div class="">
                          <div class="page-title">
                              <div class="title_left" style="width:72%">
                                  <h3><i class="fa fa-building manage-societies"></i><%= data.societyName %></h3>
                              </div>

                              <div class="title_right" style="width:28%">
                                  <div class="col-xs-12 pull-right">
                                      <a href='/superadmin/society/edit/<%= id %>' class="edit-info_admin"><i class="fa fa-edit"></i>Edit</a>
                                  </div>
                              </div> <!-- title right -->
                          </div> <!-- page title -->

                          <div class="clearfix"></div>

                          <div class="row">
                              <div class="col-xs-12">
                                  <div class="x_panel" style="padding:20px 17px;">
                                      <div class="x_content">

  										<div class="row">
  										    <div class="col-md-4 col-sm-4 col-xs-12 society-data">

  											  <div class="x_panel">
  											    <p class="thin-border">Basic Info</p>
  											    <ul class="list-unstyled" style="margin-top:14px;">

                                                      <li><i class="fa fa-map-marker"></i> <strong>Address:</strong>
                                                         <%= data.societyAddress %></li>
                                                      <li><i class="fa fa-group"></i> <strong>Member Since:</strong>
                                                         <%= moment(data.joinDate).format('MMM-YYYY'); %> </li>
  													<li><i class="fa fa-usb"></i> <strong>Status:</strong>
                              <button type="button" class="btn <%=(data.status=='active') ? 'btn-success': 'btn-inactive'; %> btn-xs" style="text-transform: capitalize;"><%=data.status %></button>
                              </li>
  													<li><i class="fa fa-user"></i> <strong>Contact Person:</strong> <%= data.contactPerson %> </li>
  													<li><i class="fa fa-envelope"></i> <strong>Email:</strong> <%= data.contactEmail %></li>
  													<li><i class="fa fa-desktop"></i> <strong>Website:</strong> <%= data.website %></li>
  													<li><i class="fa fa-phone"></i> <strong>Contact:</strong> +91 <%= data.contactPhone %></li>
  													<li><i class="fa fa-certificate"></i> <strong>Approved PAX:</strong> <%= data.approvedPAX %> (<%= remainingPAX %> Remaining)</li>
  													<li><i class="fa fa-circle"></i> <strong>Merchant ID:</strong><%= data.merchId %></li>
  													<li><i class="fa fa-circle"></i> <strong>Merchant Key:</strong><%= data.merchKey %></li>
  													<li><i class="fa fa-circle"></i> <strong>Merchant Salt:</strong><%= data.merchSalt %></li>
                                                  </ul>
  											  </div>

  											</div>

  											<div class="col-md-4 col-sm-4 col-xs-12 society-data">

  											    <div class="x_panel">
  											        <p class="thin-border">Modules</p>
  												    <ul class="list-unstyled society-data">
                                <% if (data.modulesSubscribed.payments) { %>
  												        <li><i class="fa fa-angle-double-right"></i> Bill Payments</li>
                                <% } %>

                                <% if (data.modulesSubscribed.members) { %>
  												        <li><i class="fa fa-angle-double-right"></i> Board Of Members</li>
                                  <% } %>

                                  <% if (data.modulesSubscribed.classifieds) { %>
  												        <li><i class="fa fa-angle-double-right"></i> Classifieds</li>
                                  <% } %>

                                  <% if (data.modulesSubscribed.contacts) { %>
  												        <li><i class="fa fa-angle-double-right"></i> Emergency Contacts</li>
                                  <% } %>

                                  <% if (data.modulesSubscribed.visitors) { %>
  												       <li><i class="fa fa-angle-double-right"></i> Frequent Visitors</li>
                                 <% } %>

                                 <% if (data.modulesSubscribed.notices) { %>
  												       <li><i class="fa fa-angle-double-right"></i> Notices</li>
                                 <% } %>

                                 <% if (data.modulesSubscribed.polls) { %>
  												       <li><i class="fa fa-angle-double-right"></i> Opinion Polls</li>
                                 <% } %>

                                 <% if (data.modulesSubscribed.documents) { %>
  												       <li><i class="fa fa-angle-double-right"></i> Resident Documents</li>
                                 <% } %>

                                 <% if (data.modulesSubscribed.employees) { %>
  												       <li><i class="fa fa-angle-double-right"></i> Resident Employees</li>
                                 <% } %>

                                 <% if (data.modulesSubscribed.residents) { %>
  												       <li><i class="fa fa-angle-double-right"></i> Search Residents</li>
                                 <% } %>

                                 <% if (data.modulesSubscribed.services) { %>
  												       <li><i class="fa fa-angle-double-right"></i> Services</li>
                                 <% } %>

  												    </ul>
  											    </div>

  											</div>

  											<div class="col-md-4 col-sm-4 col-xs-12">

  											  <div class="x_panel">
  											    <p class="label_admin-info">Admin Info</p>
  												<ul class="list-unstyled society-admin">
  												    <li><i class="fa fa-user"></i> <strong>Name:</strong> <%= data.admin.name %></li>
  												    <li><i class="fa fa-phone"></i> <strong>Phone:</strong> +91 <%= data.admin.contactPhone %> </li>
  													<li><i class="fa fa-envelope"></i> <strong>Email:</strong> <%= data.admin.contactEmail %></li>
                            <!--
  													<li><i class="fa fa-usb"></i> <strong>Status:</strong>
                              <button type="button" class="btn <%=(data.admin.status=='active') ? 'btn-success': 'btn-inactive'; %> btn-xs" style="text-transform: capitalize;"><%=data.admin.status %></button>
                            </li>
                            -->
                            <li><i class="fa fa-clock-o"> </i> <strong>Contract Expires on:</strong> <%= moment(data.expiryDate).format('DD/MM/YYYY') %>
  												</ul>
  											  </div>

  											</div>

  										</div>

  									</div> <!--- x_content --->
  								</div> <!-- x_panel --->

  							</div>
  						</div> <!-- row -->

                <!-- /page content -->

            </div>
        </div>
        <% } %>
        <!-- right_col -->


    </div>
    <!-- main container -->
</div>
<!-- container body -->

<%- include('../common/javascripts'); %>
<script type="text/javascript" src="/vendors/serializejson.min.js"></script>


</body>
</html>
